#!/bin/bash

for src in ~/.profile /etc/bash.bashrc ~/.bashrc $(which entities); do
	if [ -f "$src" ]; then
		((__entities__)) && msg "$PRG.sourcing $src"
		source $src
	else
		if ((__entities__)); then
			msg.err "$PRG.error Could not find $src"
		else
			echo 2> "Source file $(basename "$0") not found!"
		fi
	fi
done

#fin
